{% extends 'main/base_nav_project.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Project {% endblock %}</title>

<!-- Embedding Poppins font from google fonts -->
</head>
{% block content %}  
<h1 class="heading">MY PROJECT</h1>
 <div class="container">

    

    {% if not results %}
        <img src="{% static 'images/notfound.png' %}" alt="Not Found">
    {% else %}
        {% for r in results %}
    <div class="img-card">
        <img src="/media/{{r.Pimage}}" alt="{{ r.Pname }}">
        <div class="content">
            <h2>{{ r.Pname }}</h2> <p>{{ r.Ptag }}</p>
            <a href="{{r.Purl}}" class="button button2">View demo</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
        
</div>
{% endblock %}

